@model Course
@{

    Layout = "_HomeLayout";
    ViewData["Title"] = "Create";
}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">@Model.CourseName Material</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Material</h6>
            <h1 class="mb-5">Course Details</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <p><strong>Course Name:</strong> @Model.CourseName</p>

                        <div class="form-floating mb-3">
                            <img src="/Images/@Model.Image" alt="@Model.CourseName" style="width: 100%; height: auto;">

                        </div>

                        <p><strong>Course Description:</strong> @Model.Description</p>
                        <p><strong>Course Price:</strong> $@Model.Price</p>
                        <p><strong>Course Level:</strong> @Model.Level</p>
                        <p><strong>Course Requirements:</strong> @Model.Requirements</p>
                        <p><strong>Course Content:</strong> @Model.Content</p>
                        <p><strong>Number of Views:</strong> @ViewBag.student_number</p>
                        <p><strong>Category:</strong> @ViewBag.catg</p>
                        <p><strong>Instructor:</strong> @ViewBag.inst</p>

                        <h1 class="mt-4">Material</h1>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Materials
                            </div>
                            <div class="card-body">
                                <table id="mytable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>Lecture Number</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (Material item in ViewBag.material)
                                        {
                                            <tr>
                                                <td>@item.FilePath</td>
                                                <td><a href="/material/@item.FilePath">Display</a></td>
                                                <td>@item.LecuerNumber</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->
